body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-change{
  color: orange;
}
.flexible-container{
    display: flex;  
}
.half-width{
    width: 50%;
    padding: 3%;
   
}
.half-width img{
    max-width: 100%;
    height: auto;
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(coral, rgba(255, 166, 0, 0.63));
    padding: 10px 20px;
    color: rgb(14, 14, 14);
    font-weight: 700;
    border-radius: 5px;
}
.One{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

.Two{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Three{
    background-image: url(/Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.headchange{
    text-align: center;
}
.flexible-comtainer{
    display: flex;
}
.color-orange{
    color: orange;
}
.experience-item{
    width: 40%;
    margin:5%;
    padding: 2%;
    box-shadow: 10px 10px 60px rgb(46, 45, 45);
    border-radius: 20px;
    border-left: 10px solid;
}
#fullstack{
    border-left: 10px solid;
    border-image: linear-gradient(blue,coral);
    border-image-slice: 1;
    border-radius: -70px;
}
#frontend{
    border-left: 10px solid;
    border-image: linear-gradient(coral,blue);
    border-image-slice: 1;
    border-radius: -70px;
}
footer p{
    text-align: center;
}